@model IEnumerable<uppfinnaren_1_0_Dilemma98.Models.Product>

<h1 id="productsHeader">@ViewBag.Message</h1>

@foreach (var product in Model)
{
    <partial name="_ProductsListItem" model="product"/>
}