@{
    @model IEnumerable<Category>
}

<h1 class="contentHeader">@ViewBag.Message</h1>

<div class="content">
    @foreach (Category category in Model)
    {
        <button>
            <a href="product/info/@category.CategoryId">@category.Name</a>
        </button>
    }
</div>

