@model IEnumerable<Product>

<div class="prodGallery">
    @foreach (var item in Model)
    {
        <div class="eachProduct">
            <h4>@item.Name</h4>
            <img src="~/imgs/image_@(item.ProductId).jpg">
            <p><b>@item.Price</b>:-</p>
            <p>@item.Description</p>
        </div>
    }
</div>
