.companyName{
  text-align: center;
  font-size: 3em;
}

nav ul{
  width: 30em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.2em;
}

a, a :visited{
  text-decoration: none;
  color: black;
}
li :hover{
  font-weight: bold;
}