@{
    ViewBag.Title = "Om mig";
}

<h1 class="contentHeader">@ViewBag.Message</h1>
<p id="aboutMeTxt">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quasi modi rem eius accusamus magnam ad inventore deserunt ipsum explicabo quas exercitationem enim, quaerat numquam temporibus quo sequi tempore fugit?
  Adipisci, fugit nesciunt? Vel sunt sequi odit praesentium, possimus sint sed iusto provident. Quae, autem. Quos ab, expedita sit recusandae a voluptatem, fugit ad sapiente vel quo, natus fugiat delectus!
  Aliquid repellat, repellendus nesciunt, velit, corporis officia ratione mollitia omnis provident sint deleniti eveniet. Commodi neque quam praesentium fugiat ipsam obcaecati possimus facere reprehenderit, deserunt adipisci rerum ullam aspernatur. Qui!  
</p>
<h2>Kontakta mig</h2>
<p><b>Mail:</b> erik.andersson@gmail.com</p>
<p><b>Telefon:</b> 070-123 45 67</p>